body {
    font-family: 'Lora', serif;
    font-size: 18px;
}
.main-layout {
    background: url('images/welcome.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
