<div class="row">
    <h2 class="text-center">What do you want to search?</h2>
</div>

<div class="row">
    <form>
        <div class="col-md-8 col-md-offset-2 form-group">
            <input type="text" class="form-control input-lg" placeholder="Movie title" required ng-model="title">
        </div>
        <div class="col-md-2 col-md-offset-5 text-center">
            <button type="submit" class="btn btn-lg btn-success" ng-click="findMovie()">Go</button>
        </div>
    </form>
</div>

<div class="row" ng-if="movies">
    <div class="col-md-10 col-md-offset-1 text-center" style="background-color: #e0e0e0; margin-top:20px; padding-bottom: 20px;">
        <div ng-repeat="movie in movies">
            <h3>{{movie.title}}</h3>
            <h3>{{movie.year}}</h3>
            <img ng-src="{{movie.poster}}">
        </div>
    </div>
</div>
