<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 text-center">
            <img class="img-responsive img-thumbnail" ng-src="{{selectedSearchResult.poster}}"
                 src-err="client/assets/css/images/image-not-found.jpg">
        </div>

        <div class="col-md-8">
            <h2>{{selectedSearchResult.title}}</h2>

            <p>
                {{details.genre}} | {{selectedSearchResult.year}} | {{details.country}}
            </p>

            <p class="well">
                {{details.description}}
            </p>
        </div>

    </div>
</div>
